In [2]:
import sqlalchemy as db

In [11]:
engine = db.create_engine('mysql+mysqlconnector://root:123456abc@localhost:3306/practice')

In [12]:
connection = engine.connect()
results = engine.execute('select * from course limit 10')
first_result = results.fetchone()

In [13]:
first_result

('01', '语文', '02')

In [14]:
results_two = results.fetchmany(2)
results_two

[('02', '数学', '01'), ('03', '英语', '03')]

In [15]:
results_three = results.fetchmany(3)
results_three

[]

In [16]:
import pandas as pd

In [17]:
query = 'select * from student'
posts_df = pd.read_sql_query(query, engine)

In [18]:
type(posts_df)

pandas.core.frame.DataFrame

In [19]:
posts_df.head()

  Sid Sname       Sage Ssex
0  01    赵雷 1990-01-01    男
1  02    钱电 1990-12-21    男
2  03    孙风 1990-05-20    男
3  04    李云 1990-08-06    男
4  05    周梅 1991-12-01    女

In [36]:
query = 'CALL SelectStudent(6)'
posts_df = engine.execute(query)

In [37]:
posts_df

In [38]:
first_result = posts_df.fetchone()

In [39]:
first_result

('01', '赵雷', datetime.datetime(1990, 1, 1, 0, 0), '男')